* {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url("assets/old_wood.jpg");
    background-size: contain;
}

.homepage {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url("assets/old_wood.jpg");
    background-size: contain;
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 10px 2px;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.menu {
    background-color: hsl(195, 2%, 45%);
    border: 1px solid hsl(195, 2%, 30%);
    border-radius: 5px;
    padding: 5px 10px;
    color: whitesmoke;
    outline: none;
    text-decoration: none;
}

.menu:hover {
    background-color: black;
    color: red;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn {
    background-color: hsl(195, 2%, 45%);
    border: 1px solid hsl(195, 2%, 30%);
    border-radius: 5px;
    padding: 5px 10px;
    color: whitesmoke;
    outline: none;
}

.btn:hover {
    background-color: black;
    color: red;
}

.inGameMenu {
    background-color: hsl(195, 2%, 45%);
    border: 1px solid hsl(195, 2%, 30%);
    border-radius: 5px;
    padding: 5px 10px;
    color: whitesmoke;
    outline: none;
    text-decoration: none;
}

.inGameMenu:hover {
    background-color: black;
    color: whitesmoke;
}